#!/usr/bin/env bash

set -e

echo "Enabling nix-daemon..."
sudo systemctl enable nix-daemon --now

echo "Install home-manager and switch to my config..."
command -v nix && nix run home-manager/master -- switch --flake {{ .chezmoi.workingTree }}

echo "Enable GPU acceleration for nix-software..."
GPU_SETUP=~/.nix-profile/bin/non-nixos-gpu-setup
[ -x "$GPU_SETUP" ] && sudo "$GPU_SETUP" || echo "The script $GPU_SETUP as not found"
